
<form  method="POST">
	<snap th:if="!error">
		<snap th:if="${select==sumar}">
			El resultado de 
			<snap th:text = "${numeroA}"></snap> + 
			<snap th:text = "${numeroB}"></snap> =
			<snap th:text = "${result}"></snap> .
		</snap>
		<snap th:if="${select==restar}">
					El resultado de 
					<snap th:text = "${numeroA}"></snap> -
					<snap th:text = "${numeroB}"></snap> =
					<snap th:text = "${result}"></snap> .
		</snap>
		<snap th:if="${select==multiplicar}">
					El resultado de 
					<snap th:text = "${numeroA}"></snap> *
					<snap th:text = "${numeroB}"></snap> =
					<snap th:text = "${result}"></snap> .
		</snap>
		<snap th:if="${select==dividir}">
					El resultado de 
					<snap th:text = "${numeroA}"></snap> /
					<snap th:text = "${numeroB}"></snap> =
					<snap th:text = "${result}"></snap> .
		</snap>
	</snap>
	<h2 if="${error}"><span th:text="${error}"></h2>
		
	<div class="mb-3">
        <label for="numeroA" class="form-label">Número A:</label>
        <input type="number" class="form-control" name="numeroA" placeholder="Ingresa el primer número" >
    </div>

    <div class="mb-3">
        <label for="numeroB" class="form-label">Número B:</label>
        <input type="number" class="form-control" name="numeroB" placeholder="Ingresa el segundo número" >
    </div>
    
	<select>
		<option value="sumar">Sumar</option>
		<option value="restar">restar</option>
		<option value="dividir">dividir</option>
		<option value="multiplicar">multiplicar</option>
	</select>
	
    <div class="d-grid gap-2">
        <button type="submit">Sumar</button>
    </div>
</form>

                 
   

 